<div class="modal-header-wrapper">
	<div class="modal-header">
		<div class="pull-right">
            <a class="action" ng-click="cancel()">&times; {{'GENERAL.ACTION.CANCEL-AND-CLOSE' | translate}}</a>
        </div>
		<h2 translate="CLUSTER.POPUP.SELECT-MASTER.TITLE"></h2>	
	</div>
</div>
<div class="modal-body">
	<p>{{'CLUSTER.POPUP.SELECT-MASTER.MESSAGE' | translate:model.config}}</p>	
</div>

<div class="modal-footer-wrapper">
	<div class="modal-footer">
		<div class="pull-right">
	       <button type="button" class="btn btn-sm btn-default" ng-click="cancel()" ng-disabled="status.loading"
	           translate="GENERAL.ACTION.CANCEL">
	       </button>
	       <button type="button" class="btn btn-sm btn-default" ng-click="ok()" ng-disabled="status.loading"
	       	   translate="CLUSTER.POPUP.SELECT-MASTER.CONFIRM">
	       </button>
		</div>
        <loading-indicator></loading-indicator>
</div>
</div>